*{
    padding: 0%;
    margin: 0%;
    font-family: var(--font);
}

:root{
    --font: 'Roboto', sans-serif;
    --grey: #777;
    --darkgrey: #222222;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
}


header{
    font-family: var(--font);
    padding: 2rem;
    margin: 2rem;
    color: var(--darkgrey);

}

.generator-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    flex: 1 1 90%;
    min-height: 20rem;
    background-color: antiquewhite;
    border: none;
    margin: .5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 1px var(--grey);
    padding: 1rem;

}

.generator-header{
    font: var(--font);
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--darkgrey);
    border-bottom: 1px solid var(--grey);
}


.generator-return{
    min-height: 8rem;
    background-color: white;
    border: 1px dashed var(--darkgrey);
    padding: .5rem;
    margin: .5rem;
    border-radius: .25rem;
}

.generator-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid var(--grey);
}

.generator-footer button{
    width: auto;
    border: none;
    margin: 1rem;
    color: white;
    border-radius: 1.5rem;
   
}


.generator-footer button input{
    background-color: red;
    color: white;
    width: 100%;
    padding: .75em;
    margin: 0;
    border-radius: 1.5rem;
    font-size: 1.5em;

}